<div class="container">
    <h1>Carrito</h1>
    <div class="container">
        {{#each response.cart.data}}
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Producto: {{this.product.title}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Cantidad: {{this.quantity}}</h6>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <button onclick="purchase('{{response.userData}}')" type="button" class="btn btn-secondary"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>

        <div>
            <a href="/api/users/current" class="btn btn-link">Perfil</a>
            <a href="/api/products" class="btn btn-link">Seguir Comprando</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Ticket de compra</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="responseMessage"></p>
                    <div id="productosSinStock" style="display: none;">
                        <p>Productos sin stock:</p>
                        <ul id="productosSinStockList"></ul>
                    </div>
                    <div id="ticketData" style="display: none;">
                        <h2>Ticket de compra:</h2>
                        <p>Productos:</p>
                        <ul id="ticketProductsList"></ul>
                        <p>Total: $ <span id="ticketTotal"></span></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="closeModal()">Close</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href = '/api/products'">Ir a
                        Productos</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/JS/cart.js"></script>


{{!-- funcion para cerrar el modal de boostrap--}}
<script>
    function closeModal() {
        var modal = document.getElementById('staticBackdrop');
        var modalInstance = bootstrap.Modal.getInstance(modal);
        modalInstance.hide();

        // Eliminar el backdrop manualmente
        var backdrop = document.querySelector('.modal-backdrop');
        if (backdrop) {
            backdrop.parentNode.removeChild(backdrop);
        }
    }
</script>