<div class="container">
    <h1>Carrito</h1>
    <div class="container">
        {{#each cart}}
        <div>
            <h4>Producto: {{this.product.title}}</h4>
            <h6>Cantidad: {{this.quantity}}</h6>
        </div>
        {{/each}}
    </div>
</div>