<div class="container">
    <h1>Carrito</h1>
    <div class="container">
        {{#each cart}}
        <div>
            <h4>Producto: {{this.product.title}}</h4>
            <h6>Cantidad: {{this.quantity}}</h6>
        </div>
        {{/each}}
    </div>

    <div class="agregar btn btn-secondary m-3">
        <a href="">Comprar</a>
    </div>

    

    <div>
        <a href="/api/sessions/current">---Perfil---</a>

        <a href="/api/products">Seguir Comprando---</a>
    </div>
</div>