<div class="chat">
    <div class="container mt-3">
        <div>
            <h1>Chat</h1>
        </div>
        <div id="caja" class="caja m-3">
            {{#each chat}}
            <div>
                <strong>{{this.user}}</strong> dice <em> {{this.message}}</em>
            </div>
            {{/each}}
        </div>

        <form class="m-3" onsubmit="return addMenssage()">
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <textarea name="" cols="30" rows="2" class="form-control" id="message"
                    placeholder="tu mensaje"></textarea>
            </div>
            <input type="submit" value="Enviar" class="btn btn-success">
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>