<div class="mt-5">
    <div style="width: 36rem" class="mx-auto">
        <div class="p-2">
            <h2>Login</h2>

            <br>
            <a href="/api/auth/github">Access with GitHub</a>

            <br>
            <br>
            <form method="post" action="/api/auth/login">
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div>
                    <label for="password" class="block">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <button type="submit" class="">
                        Login
                    </button>
            </form>
        </div>
    </div>
    <div class="p-2">
        <p> AUN NO TIENES CUENTA? <a href="/api/register">Registrarse</a></p>
    </div>
</div>