<div class="mt-5">
    <div style="width: 36rem" class="mx-auto">
        <div class="p-2">
            <h2>Restablecer Contraseña</h2>
            <form id="resetForm" method="post" action="/api/auth/reset-password">
                <div>
                    <label for="newPassword">Nueva Contraseña:</label>
                    <input type="password" id="newPassword" name="newPassword" required>
                </div>
                <input type="hidden" name="token" value="{{token}}">
                <div class="p-2">
                    <button type="submit">Restablecer Contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>